<launch>

	<node pkg="rosserial_python" type="serial_node.py" name="rosserial" output="screen">
		<param name="port" value="/dev/ttyUSB0"/>
		<param name="baud" value="57600"/>
	</node>
	
	<node pkg="ros_vosk" type="vosk_node.py" name="facepal_speech_recognition" output="screen">
	</node>
	
	<node pkg="sound_play" type="soundplay_node.py" name="facepal_speech_production" output="screen">
	</node>
	
	<node pkg="facepal_pkg" type="video_sub.py" name="facepal_face" output="screen">
	</node>
	
	<node pkg="facepal_pkg" type="gpt_hearing_moving.py" name="facepal_hearing" output="screen">
	</node>
	
	<node pkg="facepal_pkg" type="gpt_talking.py" name="facepal_talking" output="screen">
	</node>
	
</launch>
